<section class="container">
  <div class="login-page">
    <h3 class="title">{{ 'form.title.login' | translate }}</h3>

    <form [formGroup]="LoginForm">
      <mat-form-field>
        <mat-label>{{ 'form.field.login' | translate }}</mat-label>
        <input matInput formControlName="loginInput" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'form.field.password' | translate }}</mat-label>
        <input matInput formControlName="passwordInput" required />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="primary-bg submit-btn"
        type="submit"
      >
        {{ 'form.button.login' | translate }}
      </button>
    </form>

    <div class="sign-up-btn">
      <p>{{ 'form.haveAccount.negQuestion' | translate }}</p>
      <button mat-button color="primary" routerLink="/auth/sign-up">
        {{ 'form.haveAccount.signUp' | translate }}
      </button>
    </div>
  </div>
</section>
