<header class="header">
  <div class="header__container">
    <div class="header__logo-wrap">
      <span class="logo" routerLink="/">LOGO</span>
      <mat-select
        class="header__lang-selection"
        [(value)]="defaultLanguage"
        (selectionChange)="setLanguage($event)"
      >
        <mat-option value="ua">ua</mat-option>
        <mat-option value="en">en</mat-option>
      </mat-select>
    </div>

    <nav class="header__nav">
      <button mat-button class="header__nav__btn">
        {{ 'header.nav.login' | translate }}
      </button>
      <button mat-button class="header__nav__btn">
        {{ 'header.nav.signUp' | translate }}
      </button>
    </nav>
  </div>
</header>
