@import '/src/constance';

.page-not-found {
  margin-top: 100px;

  .page-content {
    text-align: center;

    &__title {
      font-size: 30rem;
      line-height: 24rem !important;
      font-family: $secondary-font;
    }

    &__subtitle {
      margin-top: 50px;
      font-size: 3rem;
      line-height: 3rem;
    }

    &__return-btn {
      margin-top: 40px;

      button {
        font-size: 2.4rem;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
