<div
  class="contact"
  [ngClass]="{ active: isActive }"
  id="{{ contact?.chatId }}"
  (click)="setActiveChat($event)"
>
  <div
    class="contact__icon"
    matBadge="{{ unreadMessageAmount }}"
    [matBadgeHidden]="unreadMessageAmount === 0"
  >
    <img src="https://placehold.co/200x200" alt="Contact icon" />
    <div class="online-status" *ngIf="chat?.isOnline"></div>
  </div>

  <div class="contact__title">
    <h3 class="name" id="{{ contact?.contactInfo?.id }}">
      {{ contact?.contactInfo?.login }}
    </h3>
    <p class="message">
      {{ contact?.messageInfo?.lastMessage }}
    </p>
  </div>

  <div class="contact__info">
    <p class="last-message-time">{{ contact?.messageInfo?.lastMessageTime }}</p>
    <div class="icons">
      <img
        (click)="toggleActivePin($event)"
        class="pin-img"
        src="../../../../../../assets/icons/pin.svg"
        alt="pin"
      />
    </div>
  </div>
</div>
