<header class="header">
  <div class="header__container">
    <div class="header__logo-wrap">
      <span class="logo">LOGO</span>
      <mat-select class="header__lang-selection" [(value)]="defaultLanguage">
        <mat-option value="ua">ua</mat-option>
        <mat-option value="en">en</mat-option>
      </mat-select>
    </div>

    <nav class="header__nav">
      <button mat-button class="header__nav__btn">Login</button>
      <button mat-button class="header__nav__btn">Sign up</button>
    </nav>
  </div>
</header>
