.chat-page {
  display: flex;
  background-image: url('../../../../assets/images/chat-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
