<section class="chats-list">
  <div class="chats-list__header">
    <button mat-icon-button class="menu-btn" color="accent">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field class="search-field">
      <input
        matInput
        type="text"
        [(ngModel)]="searchValue"
        (ngModelChange)="this.searchValueUpdate.next($event)"
        placeholder="Search"
      />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchValue = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="searched-contacts" *ngIf="searchValue.length > 1">
      <div
        class="searched-contacts__contact"
        *ngFor="let user of searchedUsers"
      >
        <img
          class="icon"
          src="https://placehold.co/200x200"
          alt="Contact icon"
        />
        <p class="name" [innerHtml]="user.login | highlighter: searchValue"></p>
      </div>
      <p class="empty-users-info" *ngIf="!searchedUsers.length">
        No user found
      </p>
    </div>
  </div>

  <div class="chats-list__groups">
    <div
      class="group"
      *ngFor="let i of groups"
      matBadge=""
      matBadgeOverlap="false"
    >
      {{ i }}
      <div class="underline"></div>
    </div>
  </div>

  <div class="chats-list__contacts">
    <app-chat-contact
      *ngFor="let contact of contacts"
      [contact]="contact.user"
      [messageInfo]="contact.messageInfo"
    >
    </app-chat-contact>
  </div>
</section>
