@import '/src/constance';

.chats-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: $secondary-color-dark-transparent;
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 500px;
  padding-top: 20px;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    height: 6px;
    width: 8px;
    background-color: transparent;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px 0 10px;

    .menu-btn {
      line-height: 45px;
      width: 45px;
      height: 45px;

      .mat-icon {
        font-size: 35px;
        width: 100%;
        height: 100%;
        line-height: 45px;
      }
    }

    .search-field {
      width: 100%;
      margin-left: 15px;
      font-size: 2rem;
    }

    .searched-contacts {
      position: absolute;
      top: 70px;
      right: 20px;
      z-index: 1;

      display: flex;
      flex-direction: column;
      row-gap: 20px;

      box-sizing: border-box;

      width: 85%;
      min-height: 20px;
      padding: 20px;
      border-radius: 20px;
      background-color: $secondary-color;

      &__contact {
        display: flex;
        align-items: center;
        column-gap: 10px;
        cursor: pointer;

        transition: all 0.1s linear;

        &:hover {
          transform: scale(1.03);
        }

        .icon {
          width: 50px;
          border-radius: 50px;
        }

        .name {
          font-family: $secondary-font;
          font-size: 1.6rem;
          margin: 0;
          padding: 0;
        }
      }

      .empty-users-info {
        margin: 0;
        text-align: center;
        color: $chat-color;
      }
    }
  }

  &__groups {
    display: flex;
    column-gap: 50px;
    width: 460px;
    padding: 15px 0 10px 0;
    margin: 0 auto;
    overflow-x: scroll;

    .group {
      font-size: 1.5rem;
      height: 25px;
      user-select: none;
      cursor: pointer;

      .mat-badge-content {
        background-color: $primary-color;
      }

      .underline {
        width: 0;
        height: 2px;
        margin: 3px auto 0 auto;
        border-radius: 5px;
        background-color: $primary-color;
      }

      &:hover,
      &.active {
        transition: all 0.1s linear;
        transform: scale(1.1);
      }

      &:hover .underline,
      &.active .underline {
        transition: all 0.1s linear;
        width: 100%;
      }
    }
  }

  &__contacts {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
    padding: 0 8px;
    overflow-y: scroll;
  }
}
