$primary-color: #da0037;
$secondary-color: #444444;
$secondary-color-dark: #171717;
$secondary-color-dark-transparent: rgba(23, 23, 23, 0.3);
$chat-color: #d9d9d9;

$primary-font: 'Signika', sans-serif;
$secondary-font: 'Inter', sans-serif;

$basic-font-size: 10px;
