html,
body {
  height: 100%;
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background: #1d1d1d;
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow-x: hidden;
}
p,
div,
a {
  margin: 0;
  padding: 0;
  color: #ededed;
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
  color: #ededed;
  font-family: 'Signika', sans-serif;
  letter-spacing: 1.5px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
a::first-letter,
button::first-letter {
  text-transform: capitalize;
}
